<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mhealth.sqlite">
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_iconbg"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.mhealth.t4l.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.mhealth.t4l.SignUPActivity"
        android:label="Create Account"
        android:parentActivityName="com.mhealth.t4l.Welcome">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.mhealth.t4l.Welcome" />
        </activity>

        <activity android:name="com.mhealth.t4l.Welcome"
        android:label="Blood Stock"
            android:parentActivityName="com.mhealth.t4l.MainActivity">

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.mhealth.t4l.MainActivity" />
        </activity>


        <activity android:name="com.mhealth.t4l.t4l"
        android:label="Text For Life"
            android:parentActivityName="com.mhealth.t4l.MainActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.mhealth.t4l.MainActivity" />
        </activity>

        <activity android:name="com.mhealth.t4l.registerdonor"
            android:label="Register as a donor"
            android:parentActivityName="com.mhealth.t4l.MainActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.mhealth.t4l.MainActivity" />
        </activity>


    </application>

</manifest>
